@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root{
    --color-primary-800: #064E3B;
    --color-primary-600:#059669;
    --color-primary-400:#34D399;
    --color-primary-200: #A7F3D0;
    --color-secondary-800: #1E40AF;
    --color-secondary-600:#2563EB;
    --color-secondary-400:#60A5FA;
    --color-secondary-200: #BFDBFE;
    --grey-300: #D1D5DB;
    --grey-800: #1F2937; 
}

body{
    margin: 0;
    font-family: 'Signika', sans-serif;
}

.container{
    width: 600px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section h1{
    font-family: 'Fredoka One', cursive;
}
.mango{
    background-image: url('./mango.jpg');
}
.neem{
    background-image: url('./neem.jpg');
}
.banyan{
    background-image: url('./ban.jpeg');
}
.quote{
    text-align: center;
    min-height: 40vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Caveat', cursive;
}

.blue{
    background-color: var(--color-secondary-200);
    color:var(--color-secondary-600); 
}

.green{
    background-color:var(--color-primary-200);
    color:var(--color-primary-600); 
    box-shadow:  15px 15px 30px var(--color-primary-400),
             -15px -15px 30px var(--color-primary-800);
}

button{
    margin-top: 0.5rem;
    padding: 0.3rem 1rem;
    background-color: var(--color-primary-400);
    color: var(--color-primary-800);
    border: 2px solid var(--color-primary-800);
    border-radius: 15px;
}